<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.source.DataInstallsMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.source.DataInstalls">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="unique_no" property="uniqueNo" jdbcType="VARCHAR"/>
        <result column="platform_terminal" property="platformTerminal" jdbcType="INTEGER"/>
        <result column="country" property="country" jdbcType="INTEGER"/>
        <result column="longitude" property="longitude" jdbcType="DECIMAL"/>
        <result column="latitude" property="latitude" jdbcType="DECIMAL"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, unique_no, platform_terminal, country, longitude, latitude, ip, create_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from data_installs
        where id = #{id,jdbcType=INTEGER}
    </select>
    <insert id="insert" parameterType="com.hhly.smartdata.model.source.DataInstalls">
        insert into data_installs (id, unique_no, platform_terminal,
        country, longitude, latitude,
        ip, create_time)
        values (#{id,jdbcType=INTEGER}, #{uniqueNo,jdbcType=VARCHAR}, #{platformTerminal,jdbcType=INTEGER},
        #{country,jdbcType=INTEGER}, #{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL},
        #{ip,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.source.DataInstalls">
        insert into data_installs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uniqueNo != null">
                unique_no,
            </if>
            <if test="platformTerminal != null">
                platform_terminal,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="longitude != null">
                longitude,
            </if>
            <if test="latitude != null">
                latitude,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uniqueNo != null">
                #{uniqueNo,jdbcType=VARCHAR},
            </if>
            <if test="platformTerminal != null">
                #{platformTerminal,jdbcType=INTEGER},
            </if>
            <if test="country != null">
                #{country,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.source.DataInstalls">
        update data_installs
        <set>
            <if test="uniqueNo != null">
                unique_no = #{uniqueNo,jdbcType=VARCHAR},
            </if>
            <if test="platformTerminal != null">
                platform_terminal = #{platformTerminal,jdbcType=INTEGER},
            </if>
            <if test="country != null">
                country = #{country,jdbcType=INTEGER},
            </if>
            <if test="longitude != null">
                longitude = #{longitude,jdbcType=DECIMAL},
            </if>
            <if test="latitude != null">
                latitude = #{latitude,jdbcType=DECIMAL},
            </if>
            <if test="ip != null">
                ip = #{ip,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.source.DataInstalls">
        update data_installs
        set unique_no = #{uniqueNo,jdbcType=VARCHAR},
        platform_terminal = #{platformTerminal,jdbcType=INTEGER},
        country = #{country,jdbcType=INTEGER},
        longitude = #{longitude,jdbcType=DECIMAL},
        latitude = #{latitude,jdbcType=DECIMAL},
        ip = #{ip,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectInstallsByStartTimeAndEndTime" resultType="java.util.Map">
        select platform_terminal as platformTerminal,count(DISTINCT(BINARY unique_no)) as uniqueCount FROM data_installs
        where create_time &lt;= #{endTime}
        AND create_time &gt;= #{startTime}
        group by platform_terminal
    </select>
</mapper>