<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.source.DataInterfaceInvokeMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.source.DataInterfaceInvoke">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="country" property="country" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="platform_id" property="platformId" jdbcType="INTEGER"/>
        <result column="platform_terminal" property="platformTerminal" jdbcType="INTEGER"/>
        <result column="interface_type" property="interfaceType" jdbcType="INTEGER"/>
        <result column="website_domain" property="websiteDomain" jdbcType="VARCHAR"/>
        <result column="url_path" property="urlPath" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, country, user_id, platform_code, platform_id, platform_terminal, interface_type, website_domain,
    url_path, create_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from data_interface_invoke
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.hhly.smartdata.model.source.DataInterfaceInvoke">
    insert into data_interface_invoke (id, country, user_id, 
      platform_id, platform_terminal, interface_type, 
      website_domain, url_path, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, 
      #{platformId,jdbcType=INTEGER}, #{platformTerminal,jdbcType=INTEGER}, #{interfaceType,jdbcType=INTEGER}, 
      #{websiteDomain,jdbcType=VARCHAR}, #{urlPath,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.source.DataInterfaceInvoke">
        insert into data_interface_invoke
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="platformId != null">
                platform_id,
            </if>
            <if test="platformTerminal != null">
                platform_terminal,
            </if>
            <if test="interfaceType != null">
                interface_type,
            </if>
            <if test="websiteDomain != null">
                website_domain,
            </if>
            <if test="urlPath != null">
                url_path,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="country != null">
                #{country,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                #{platformId,jdbcType=INTEGER},
            </if>
            <if test="platformTerminal != null">
                #{platformTerminal,jdbcType=INTEGER},
            </if>
            <if test="interfaceType != null">
                #{interfaceType,jdbcType=INTEGER},
            </if>
            <if test="websiteDomain != null">
                #{websiteDomain,jdbcType=VARCHAR},
            </if>
            <if test="urlPath != null">
                #{urlPath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.source.DataInterfaceInvoke">
        update data_interface_invoke
        <set>
            <if test="country != null">
                country = #{country,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="platformId != null">
                platform_id = #{platformId,jdbcType=INTEGER},
            </if>
            <if test="platformTerminal != null">
                platform_terminal = #{platformTerminal,jdbcType=INTEGER},
            </if>
            <if test="interfaceType != null">
                interface_type = #{interfaceType,jdbcType=INTEGER},
            </if>
            <if test="websiteDomain != null">
                website_domain = #{websiteDomain,jdbcType=VARCHAR},
            </if>
            <if test="urlPath != null">
                url_path = #{urlPath,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.source.DataInterfaceInvoke">
    update data_interface_invoke
    set country = #{country,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=VARCHAR},
      platform_id = #{platformId,jdbcType=INTEGER},
      platform_terminal = #{platformTerminal,jdbcType=INTEGER},
      interface_type = #{interfaceType,jdbcType=INTEGER},
      website_domain = #{websiteDomain,jdbcType=VARCHAR},
      url_path = #{urlPath,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="findDataInterfaceInvokeList" resultType="java.util.Map">
   select interface_type as interfaceType, count(user_id) as invokeCount from data_interface_invoke
   where country = 0
    <![CDATA[
             and create_time>= date_sub(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S'), interval #{intervalTime} minute)
  	    ]]>
   <![CDATA[
             and create_time<DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S')
  	 ]]>
    group by interface_type
  </select>
</mapper>