<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.smartdata.DailyCompositeReportMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.smartdata.DailyCompositeReport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="statistics_day" property="statisticsDay" jdbcType="VARCHAR"/>
        <result column="total_register_population" property="totalRegisterPopulation" jdbcType="INTEGER"/>
        <result column="register_population" property="registerPopulation" jdbcType="INTEGER"/>
        <result column="register_exp_count" property="registerExpCount" jdbcType="INTEGER"/>
        <result column="real_exp_count" property="realExpCount" jdbcType="INTEGER"/>
        <result column="virtual_exp_count" property="virtualExpCount" jdbcType="INTEGER"/>
        <result column="new_user_recharge_population" property="newUserRechargePopulation" jdbcType="INTEGER"/>
        <result column="new_user_recharge_count" property="newUserRechargeCount" jdbcType="INTEGER"/>
        <result column="new_user_recharge_amount" property="newUserRechargeAmount" jdbcType="DECIMAL"/>
        <result column="new_user_login_count" property="newUserLoginCount" jdbcType="INTEGER"/>
        <result column="new_user_play_count" property="newUserPlayCount" jdbcType="INTEGER"/>
        <result column="old_user_recharge_population" property="oldUserRechargePopulation" jdbcType="INTEGER"/>
        <result column="old_user_recharge_count" property="oldUserRechargeCount" jdbcType="INTEGER"/>
        <result column="old_user_recharge_amount" property="oldUserRechargeAmount" jdbcType="DECIMAL"/>
        <result column="old_user_login_count" property="oldUserLoginCount" jdbcType="INTEGER"/>
        <result column="old_user_play_count" property="oldUserPlayCount" jdbcType="INTEGER"/>
        <result column="next_day_stay_count" property="nextDayStayCount" jdbcType="INTEGER"/>
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, statistics_day,total_register_population, register_population, register_exp_count, real_exp_count, virtual_exp_count,
        new_user_recharge_population, new_user_recharge_count, new_user_recharge_amount,
        new_user_login_count, new_user_play_count, old_user_recharge_population, old_user_recharge_count,
        old_user_recharge_amount, old_user_login_count, old_user_play_count, next_day_stay_count,
        execute_time
    </sql>

    <delete id="deleteByDaily">
        delete from daily_composite_report where statistics_day = #{daily}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from daily_composite_report
        where id = #{id}
    </select>

    <select id="selectLastMonthComposite" resultType="java.util.Map">
        SELECT
        SUM(register_population) AS register_population_sum,
        SUM(register_exp_count) AS register_exp_count_sum,
        SUM(real_exp_count) AS real_exp_count_sum,
        SUM(virtual_exp_count) AS virtual_exp_count_sum,
        SUM(new_user_recharge_population) AS new_user_recharge_population_sum,
        SUM(new_user_recharge_count) AS new_user_recharge_count_sum,
        SUM(new_user_recharge_amount) AS new_user_recharge_amount_sum,
        SUM(new_user_login_count) AS new_user_login_count_sum,
        SUM(new_user_play_count) AS new_user_play_count_sum,
        SUM(old_user_recharge_population) AS old_user_recharge_population_sum,
        SUM(old_user_recharge_count) AS old_user_recharge_count_sum,
        SUM(old_user_recharge_amount) AS old_user_recharge_amount_sum,
        SUM(old_user_login_count) AS old_user_login_count_sum,
        SUM(old_user_play_count) AS old_user_play_count_sum,
        SUM(next_day_stay_count) AS next_day_stay_count_sum
        FROM
        daily_composite_report
        WHERE statistics_day &gt;= #{lastMonthFirstDayStr}
        AND statistics_day &lt;= #{lastMonthEndDayStr}
    </select>

    <insert id="insert" parameterType="com.hhly.smartdata.model.smartdata.DailyCompositeReport">
        insert into daily_composite_report (id, statistics_day, total_register_population, register_population,
        register_exp_count, real_exp_count, virtual_exp_count,
        new_user_recharge_population, new_user_recharge_count,
        new_user_recharge_amount, new_user_login_count,
        new_user_play_count, old_user_recharge_population,
        old_user_recharge_count, old_user_recharge_amount,
        old_user_login_count, old_user_play_count, next_day_stay_count,
        execute_time)
        values (#{id}, #{statisticsDay},#{totalRegisterPopulation}, #{registerPopulation},
        #{registerExpCount}, #{realExpCount}, #{virtualExpCount},
        #{newUserRechargePopulation}, #{newUserRechargeCount},
        #{newUserRechargeAmount}, #{newUserLoginCount},
        #{newUserPlayCount}, #{oldUserRechargePopulation},
        #{oldUserRechargeCount}, #{oldUserRechargeAmount},
        #{oldUserLoginCount}, #{oldUserPlayCount},
        #{nextDayStayCount},
        #{executeTime})
    </insert>

    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.smartdata.DailyCompositeReport">
        insert into daily_composite_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statisticsDay != null">
                statistics_day,
            </if>
            <if test="registerPopulation != null">
                register_population,
            </if>
            <if test="registerExpCount != null">
                register_exp_count,
            </if>
            <if test="realExpCount != null">
                real_exp_count,
            </if>
            <if test="virtualExpCount != null">
                virtual_exp_count,
            </if>
            <if test="newUserRechargePopulation != null">
                new_user_recharge_population,
            </if>
            <if test="newUserRechargeCount != null">
                new_user_recharge_count,
            </if>
            <if test="newUserRechargeAmount != null">
                new_user_recharge_amount,
            </if>
            <if test="newUserLoginCount != null">
                new_user_login_count,
            </if>
            <if test="newUserPlayCount != null">
                new_user_play_count,
            </if>
            <if test="oldUserRechargePopulation != null">
                old_user_recharge_population,
            </if>
            <if test="oldUserRechargeCount != null">
                old_user_recharge_count,
            </if>
            <if test="oldUserRechargeAmount != null">
                old_user_recharge_amount,
            </if>
            <if test="oldUserLoginCount != null">
                old_user_login_count,
            </if>
            <if test="oldUserPlayCount != null">
                old_user_play_count,
            </if>
            <if test="nextDayStayCount != null">
                next_day_stay_count,
            </if>
            <if test="executeTime != null">
                execute_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="statisticsDay != null">
                #{statisticsDay},
            </if>
            <if test="registerPopulation != null">
                #{registerPopulation},
            </if>
            <if test="registerExpCount != null">
                #{registerExpCount},
            </if>
            <if test="realExpCount != null">
                #{realExpCount},
            </if>
            <if test="virtualExpCount != null">
                #{virtualExpCount},
            </if>
            <if test="newUserRechargePopulation != null">
                #{newUserRechargePopulation},
            </if>
            <if test="newUserRechargeCount != null">
                #{newUserRechargeCount},
            </if>
            <if test="newUserRechargeAmount != null">
                #{newUserRechargeAmount},
            </if>
            <if test="newUserLoginCount != null">
                #{newUserLoginCount},
            </if>
            <if test="newUserPlayCount != null">
                #{newUserPlayCount},
            </if>
            <if test="oldUserRechargePopulation != null">
                #{oldUserRechargePopulation},
            </if>
            <if test="oldUserRechargeCount != null">
                #{oldUserRechargeCount},
            </if>
            <if test="oldUserRechargeAmount != null">
                #{oldUserRechargeAmount},
            </if>
            <if test="oldUserLoginCount != null">
                #{oldUserLoginCount},
            </if>
            <if test="oldUserPlayCount != null">
                #{oldUserPlayCount},
            </if>
            <if test="nextDayStayCount != null">
                #{nextDayStayCount},
            </if>
            <if test="executeTime != null">
                #{executeTime},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.smartdata.DailyCompositeReport">
        update daily_composite_report
        <set>
            <if test="statisticsDay != null">
                statistics_day = #{statisticsDay},
            </if>
            <if test="registerPopulation != null">
                register_population = #{registerPopulation},
            </if>
            <if test="registerExpCount != null">
                register_exp_count = #{registerExpCount},
            </if>
            <if test="realExpCount != null">
                real_exp_count = #{realExpCount},
            </if>
            <if test="virtualExpCount != null">
                virtual_exp_count = #{virtualExpCount},
            </if>
            <if test="newUserRechargePopulation != null">
                new_user_recharge_population = #{newUserRechargePopulation},
            </if>
            <if test="newUserRechargeCount != null">
                new_user_recharge_count = #{newUserRechargeCount},
            </if>
            <if test="newUserRechargeAmount != null">
                new_user_recharge_amount = #{newUserRechargeAmount},
            </if>
            <if test="newUserLoginCount != null">
                new_user_login_count = #{newUserLoginCount},
            </if>
            <if test="newUserPlayCount != null">
                new_user_play_count = #{newUserPlayCount},
            </if>
            <if test="oldUserRechargePopulation != null">
                old_user_recharge_population = #{oldUserRechargePopulation},
            </if>
            <if test="oldUserRechargeCount != null">
                old_user_recharge_count = #{oldUserRechargeCount},
            </if>
            <if test="oldUserRechargeAmount != null">
                old_user_recharge_amount = #{oldUserRechargeAmount},
            </if>
            <if test="oldUserLoginCount != null">
                old_user_login_count = #{oldUserLoginCount},
            </if>
            <if test="oldUserPlayCount != null">
                old_user_play_count = #{oldUserPlayCount},
            </if>
            <if test="nextDayStayCount != null">
                next_day_stay_count = #{nextDayStayCount},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.smartdata.DailyCompositeReport">
        update daily_composite_report
        set statistics_day = #{statisticsDay},
        register_population = #{registerPopulation},
        register_exp_count = #{registerExpCount},
        real_exp_count = #{realExpCount},
        virtual_exp_count = #{virtualExpCount},
        new_user_recharge_population = #{newUserRechargePopulation},
        new_user_recharge_count = #{newUserRechargeCount},
        new_user_recharge_amount = #{newUserRechargeAmount},
        new_user_login_count = #{newUserLoginCount},
        new_user_play_count = #{newUserPlayCount},
        old_user_recharge_population = #{oldUserRechargePopulation},
        old_user_recharge_count = #{oldUserRechargeCount},
        old_user_recharge_amount = #{oldUserRechargeAmount},
        old_user_login_count = #{oldUserLoginCount},
        old_user_play_count = #{oldUserPlayCount},
        next_day_stay_count = #{nextDayStayCount},
        execute_time = #{executeTime}
        where id = #{id}
    </update>

    <select id="selectDailyCompositeListData" resultType="com.hhly.smartdata.dto.daily.DailyCompositeReportResult">
        select
        DATE_FORMAT(statistics_day,'%Y-%m-%d') as statisticsDay,
        register_population as registerPopulation,
        register_exp_count as registerExpCount,
        real_exp_count as realExpCount,
        virtual_exp_count as virtualExpCount,
        new_user_recharge_population as newUserRechargePopulation,
        new_user_recharge_count as newUserRechargeCount,
        new_user_recharge_amount as new_user_recharge_amount,
        new_user_login_count as newUserLoginCount,
        new_user_play_count as newUserPlayCount,
        old_user_recharge_population as oldUserRechargePopulation,
        old_user_recharge_count as oldUserRechargeCount,
        old_user_recharge_amount as oldUserRechargeAmount,
        old_user_login_count as oldUserLoginCount,
        old_user_play_count as oldUserPlayCount,
        next_day_stay_count as nextDayStayCount
        from daily_composite_report
        <where>
            <if test="startDate != null and startDate  != ''">
                and statistics_day &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
            </if>
            <if test="endDate != null and endDate  != ''">
                and statistics_day &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
            </if>
        </where>
        order by statistics_day desc
    </select>

</mapper>