<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.smartdata.DailyRegisterReportMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="statistics_day" property="statisticsDay" jdbcType="VARCHAR"/>
        <result column="pc_population" property="pcPopulation" jdbcType="INTEGER"/>
        <result column="pc_page_view" property="pcPageView" jdbcType="BIGINT"/>
        <result column="pc_user_view" property="pcUserView" jdbcType="INTEGER"/>
        <result column="h5_population" property="h5Population" jdbcType="INTEGER"/>
        <result column="h5_page_view" property="h5PageView" jdbcType="BIGINT"/>
        <result column="h5_user_view" property="h5UserView" jdbcType="INTEGER"/>
        <result column="ios_population" property="iosPopulation" jdbcType="INTEGER"/>
        <result column="ios_install_count" property="iosInstallCount" jdbcType="INTEGER"/>
        <result column="android_population" property="androidPopulation" jdbcType="INTEGER"/>
        <result column="android_install_count" property="androidInstallCount" jdbcType="INTEGER"/>
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, statistics_day, pc_population,pc_page_view, pc_user_view, h5_population, h5_page_view, h5_user_view,
        ios_population, ios_install_count, android_population, android_install_count, execute_time
    </sql>

    <delete id="deleteByTime">
        delete from daily_register_report where statistics_day = #{statisticsDay}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from daily_register_report
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        insert into daily_register_report (id, statistics_day, pc_population,pc_page_view,
        pc_user_view, h5_population, h5_page_view,
        h5_user_view, ios_population, ios_install_count,
        android_population, android_install_count,
        execute_time)
        values (#{id,jdbcType=BIGINT}, #{statisticsDay,jdbcType=VARCHAR},#{pcPopulation,jdbcType=INTEGER},
        #{pcPageView,jdbcType=BIGINT},
        #{pcUserView,jdbcType=INTEGER}, #{h5Population,jdbcType=INTEGER}, #{h5PageView,jdbcType=BIGINT},
        #{h5UserView,jdbcType=INTEGER}, #{iosPopulation,jdbcType=INTEGER}, #{iosInstallCount,jdbcType=INTEGER},
        #{androidPopulation,jdbcType=INTEGER}, #{androidInstallCount,jdbcType=INTEGER},
        #{executeTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        insert into daily_register_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statisticsDay != null">
                statistics_day,
            </if>
            <if test="pcPopulation != null">
                pc_population,
            </if>
            <if test="pcPageView != null">
                pc_page_view,
            </if>
            <if test="pcUserView != null">
                pc_user_view,
            </if>
            <if test="h5Population != null">
                h5_population,
            </if>
            <if test="h5PageView != null">
                h5_page_view,
            </if>
            <if test="h5UserView != null">
                h5_user_view,
            </if>
            <if test="iosPopulation != null">
                ios_population,
            </if>
            <if test="iosInstallCount != null">
                ios_install_count,
            </if>
            <if test="androidPopulation != null">
                android_population,
            </if>
            <if test="androidInstallCount != null">
                android_install_count,
            </if>
            <if test="executeTime != null">
                execute_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="statisticsDay != null">
                #{statisticsDay,jdbcType=VARCHAR},
            </if>
            <if test="pcPopulation != null">
                #{pcpopulation,jdbcType=BIGINT},
            </if>
            <if test="pcPageView != null">
                #{pcPageView,jdbcType=BIGINT},
            </if>
            <if test="pcUserView != null">
                #{pcUserView,jdbcType=INTEGER},
            </if>
            <if test="h5Population != null">
                #{h5Population,jdbcType=INTEGER},
            </if>
            <if test="h5PageView != null">
                #{h5PageView,jdbcType=BIGINT},
            </if>
            <if test="h5UserView != null">
                #{h5UserView,jdbcType=INTEGER},
            </if>
            <if test="iosPopulation != null">
                #{iosPopulation,jdbcType=INTEGER},
            </if>
            <if test="iosInstallCount != null">
                #{iosInstallCount,jdbcType=INTEGER},
            </if>
            <if test="androidPopulation != null">
                #{androidPopulation,jdbcType=INTEGER},
            </if>
            <if test="androidInstallCount != null">
                #{androidInstallCount,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        update daily_register_report
        <set>
            <if test="statisticsDay != null">
                statistics_day = #{statisticsDay,jdbcType=VARCHAR},
            </if>
            <if test="pcPopulation != null">
                pc_population = #{pcPopulation,jdbcType=BIGINT},
            </if>
            <if test="pcPageView != null">
                pc_page_view = #{pcPageView,jdbcType=BIGINT},
            </if>
            <if test="pcUserView != null">
                pc_user_view = #{pcUserView,jdbcType=INTEGER},
            </if>
            <if test="h5Population != null">
                h5_population = #{h5Population,jdbcType=INTEGER},
            </if>
            <if test="h5PageView != null">
                h5_page_view = #{h5PageView,jdbcType=BIGINT},
            </if>
            <if test="h5UserView != null">
                h5_user_view = #{h5UserView,jdbcType=INTEGER},
            </if>
            <if test="iosPopulation != null">
                ios_population = #{iosPopulation,jdbcType=INTEGER},
            </if>
            <if test="iosInstallCount != null">
                ios_install_count = #{iosInstallCount,jdbcType=INTEGER},
            </if>
            <if test="androidPopulation != null">
                android_population = #{androidPopulation,jdbcType=INTEGER},
            </if>
            <if test="androidInstallCount != null">
                android_install_count = #{androidInstallCount,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        update daily_register_report
        set statistics_day = #{statisticsDay,jdbcType=VARCHAR},
        pc_population = #{pcPopulation,jdbcType=BIGINT},
        pc_page_view = #{pcPageView,jdbcType=BIGINT},
        pc_user_view = #{pcUserView,jdbcType=INTEGER},
        h5_population = #{h5Population,jdbcType=INTEGER},
        h5_page_view = #{h5PageView,jdbcType=BIGINT},
        h5_user_view = #{h5UserView,jdbcType=INTEGER},
        ios_population = #{iosPopulation,jdbcType=INTEGER},
        ios_install_count = #{iosInstallCount,jdbcType=INTEGER},
        android_population = #{androidPopulation,jdbcType=INTEGER},
        android_install_count = #{androidInstallCount,jdbcType=INTEGER},
        execute_time = #{executeTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectRegisterDataListByTime" resultType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        select
        DATE_FORMAT(statistics_day,'%Y-%m-%d') as statisticsDay,
        pc_population as pcPopulation,
        pc_page_view as pcPageView,
        pc_user_view as pcUserView,
        h5_population as h5Population,
        h5_page_view as h5PageView,
        h5_user_view as h5UserView,
        ios_population as iosPopulation,
        ios_install_count as iosInstallCount,
        android_population as androidPopulation,
        android_install_count as androidInstallCount
        from daily_register_report
        where 1=1
        <if test="startDate != null and startDate  != ''">
            and statistics_day &gt;= DATE_FORMAT(#{startDate},'%Y-%m-%d')
        </if>
        <if test="endDate != null and endDate  != ''">
            and statistics_day &lt;= DATE_FORMAT(#{endDate},'%Y-%m-%d')
        </if>
        order by statistics_day desc
    </select>

    <select id="selectYesterdayRegisterData" resultType="com.hhly.smartdata.model.smartdata.DailyRegisterReport">
        select
        DATE_FORMAT(statistics_day,'%Y-%m-%d') as statisticsDay,
        pc_population as pcPopulation,
        pc_page_view as pcPageView,
        pc_user_view as pcUserView,
        h5_population as h5Population,
        h5_page_view as h5PageView,
        h5_user_view as h5UserView,
        ios_population as iosPopulation,
        ios_install_count as iosInstallCount,
        android_population as androidPopulation,
        android_install_count as androidInstallCount
        from daily_register_report
        where 1=1
        AND TO_DAYS(NOW()) - TO_DAYS(statistics_day) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(statistics_day) &gt;= 0
        limit 1
    </select>

</mapper>