<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.smartdata.DailyKeepRecordReportMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.smartdata.DailyKeepRecordReport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="statistics_day" property="statisticsDay" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="register_count" property="registerCount" jdbcType="INTEGER"/>
        <result column="one_remain" property="oneRemain" jdbcType="INTEGER"/>
        <result column="two_remain" property="twoRemain" jdbcType="INTEGER"/>
        <result column="three_remain" property="threeRemain" jdbcType="INTEGER"/>
        <result column="four_remain" property="fourRemain" jdbcType="INTEGER"/>
        <result column="five_remain" property="fiveRemain" jdbcType="INTEGER"/>
        <result column="six_remain" property="sixRemain" jdbcType="INTEGER"/>
        <result column="seven_remain" property="sevenRemain" jdbcType="INTEGER"/>
        <result column="fourteen_remain" property="fourteenRemain" jdbcType="INTEGER"/>
        <result column="thirty_remain" property="thirtyRemain" jdbcType="INTEGER"/>
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, statistics_day, source_type, register_count, one_remain, two_remain, three_remain, four_remain, five_remain, six_remain,
        seven_remain, fourteen_remain, thirty_remain, execute_time
    </sql>
    <delete id="deleteByTime">
        delete from daily_keep_record_report where statistics_day = #{statisticsDay}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from daily_keep_record_report
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAverageOneKeep" resultType="java.lang.Float">
        SELECT
        ROUND(AVG(one_remain),2)
        FROM daily_keep_record_report
        WHERE statistics_day &gt;= #{startDay}
        AND statistics_day &lt;= #{endDay} ;
    </select>
    <insert id="insert" parameterType="com.hhly.smartdata.model.smartdata.DailyKeepRecordReport">
        insert into daily_keep_record_report (id, statistics_day, source_type,
        register_count, one_remain, two_remain,
        three_remain, four_remain, five_remain,
        six_remain, seven_remain, fourteen_remain,
        thirty_remain, execute_time)
        values (#{id,jdbcType=BIGINT}, #{statisticsDay,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT},
        #{registerCount,jdbcType=INTEGER}, #{one_remain,jdbcType=INTEGER}, #{two_remain,jdbcType=INTEGER},
        #{three_remain,jdbcType=INTEGER}, #{four_remain,jdbcType=INTEGER}, #{five_remain,jdbcType=INTEGER},
        #{six_remain,jdbcType=INTEGER}, #{seven_remain,jdbcType=INTEGER}, #{fourteen_remain,jdbcType=INTEGER},
        #{thirty_remain,jdbcType=INTEGER}, #{executeTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.smartdata.DailyKeepRecordReport">
        insert into daily_keep_record_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statisticsDay != null">
                statistics_day,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="registerCount != null">
                register_count,
            </if>
            <if test="oneRemain != null">
                one_remain,
            </if>
            <if test="twoRemain != null">
                two_remain,
            </if>
            <if test="threeRemain != null">
                three_remain,
            </if>
            <if test="fourRemain != null">
                four_remain,
            </if>
            <if test="fiveRemain != null">
                five_remain,
            </if>
            <if test="sixRemain != null">
                six_remain,
            </if>
            <if test="sevenRemain != null">
                seven_remain,
            </if>
            <if test="fourteenRemain != null">
                fourteen_remain,
            </if>
            <if test="thirtyRemain != null">
                thirty_remain,
            </if>
            <if test="executeTime != null">
                execute_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="statisticsDay != null">
                #{statisticsDay,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="registerCount != null">
                #{registerCount,jdbcType=INTEGER},
            </if>
            <if test="oneRemain != null">
                #{one,jdbcType=INTEGER},
            </if>
            <if test="twoRemain != null">
                #{twoRemain,jdbcType=INTEGER},
            </if>
            <if test="threeRemain != null">
                #{threeRemain,jdbcType=INTEGER},
            </if>
            <if test="fourRemain != null">
                #{fourRemain,jdbcType=INTEGER},
            </if>
            <if test="fiveRemain != null">
                #{fiveRemain,jdbcType=INTEGER},
            </if>
            <if test="sixRemain != null">
                #{sixRemain,jdbcType=INTEGER},
            </if>
            <if test="sevenRemain != null">
                #{sevenRemain,jdbcType=INTEGER},
            </if>
            <if test="fourteenRemain != null">
                #{fourteenRemain,jdbcType=INTEGER},
            </if>
            <if test="thirtyRemain != null">
                #{thirtyRemain,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.smartdata.DailyKeepRecordReport">
        update daily_keep_record_report
        <set>
            <if test="statisticsDay != null">
                statistics_day = #{statisticsDay,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="registerCount != null">
                register_count = #{registerCount,jdbcType=INTEGER},
            </if>
            <if test="oneRemain != null">
                one_remain = #{oneRemain,jdbcType=INTEGER},
            </if>
            <if test="twoRemain != null">
                two_remain = #{twoRemain,jdbcType=INTEGER},
            </if>
            <if test="threeRemain != null">
                three_remain = #{threRemaine,jdbcType=INTEGER},
            </if>
            <if test="fourRemain != null">
                four_remain = #{fourRemain,jdbcType=INTEGER},
            </if>
            <if test="fiveRemain != null">
                five_remain = #{fiveRemain,jdbcType=INTEGER},
            </if>
            <if test="sixRemain != null">
                six_remain = #{sixRemain,jdbcType=INTEGER},
            </if>
            <if test="sevenRemain != null">
                seven_remain = #{sevenRemain,jdbcType=INTEGER},
            </if>
            <if test="fourteenRemain != null">
                fourteen_remain = #{fourteenRemain,jdbcType=INTEGER},
            </if>
            <if test="thirtyRemain != null">
                thirty_remain = #{thirtyRemain,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.smartdata.DailyKeepRecordReport">
        update daily_keep_record_report
        set statistics_day = #{statisticsDay,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=TINYINT},
        register_count = #{registerCount,jdbcType=INTEGER},
        one_remain = #{oneRemain,jdbcType=INTEGER},
        two_remain = #{twoRemain,jdbcType=INTEGER},
        three_remain = #{threeRemain,jdbcType=INTEGER},
        four_remain = #{fourRemain,jdbcType=INTEGER},
        five_remain = #{fiveRemain,jdbcType=INTEGER},
        six_remain = #{sixRemain,jdbcType=INTEGER},
        seven_remain = #{sevenRemain,jdbcType=INTEGER},
        fourteen_remain = #{fourteenRemain,jdbcType=INTEGER},
        thirty_remain = #{thirtyRemain,jdbcType=INTEGER},
        execute_time = #{executeTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectDailyKeepRecordListData" parameterType="java.util.Map"
            resultType="com.hhly.smartdata.dto.daily.DailyKeepRecordReportResult">
        select
        DATE_FORMAT(statistics_day,'%Y-%m-%d') as statisticsDay,
        source_type as sourceType,
        register_count as registerCount,
        one_remain as oneRemain,
        two_remain as twoRemain,
        three_remain as threeRemain,
        four_remain as fourRemain,
        five_remain as fiveRemain,
        six_remain as sixRemain,
        seven_remain as sevenRemain,
        fourteen_remain as fourteenRemain,
        thirty_remain as thirtyRemain,
        execute_time as executeTime
        from daily_keep_record_report
        where 1=1
        <if test="startDate != null and startDate  != ''">
            <![CDATA[
  		     and  statistics_day > DATE_FORMAT(#{startDate},'%Y-%m-%d')
  		    ]]>
        </if>
        <if test="endDate != null and endDate  != ''">
            <![CDATA[
  		     and statistics_day <= DATE_FORMAT(#{endDate},'%Y-%m-%d')
  		    ]]>
        </if>
        order by statistics_day desc
    </select>
</mapper>