<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.smartdata.MonthLoginReportMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="statistics_month" property="statisticsMonth" jdbcType="VARCHAR"/>
        <result column="platform_code" property="platformCode" jdbcType="VARCHAR"/>
        <result column="platform_name" property="platformName" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="login_population" property="loginPopulation" jdbcType="INTEGER"/>
        <result column="play_population" property="playPopulation" jdbcType="INTEGER"/>
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, statistics_month, platform_code, platform_name, source_type, login_population,
        play_population, execute_time
    </sql>

    <delete id="deleteByTimeAndPlatformCodeAndSourceType">
        delete from month_login_report where statistics_month = #{statisticsMonth} and platform_code = #{platformCode}
        and source_type = #{sourceType}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from month_login_report
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="searchByTime" resultType="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        SELECT
        <include refid="Base_Column_List"/>
        FROM month_login_report
        <where>
            <if test="startTime != null and startTime != ''">
                statistics_month &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND statistics_month &lt;= #{endTime}
            </if>
        </where>
        ORDER BY statistics_month DESC, source_type ASC
    </select>

    <select id="selectByMonth" resultType="java.util.Map">
        SELECT
        login_population AS loginPopulationSum,
        play_population AS playPopulationSum
        FROM month_login_report
        WHERE
        platform_code = 'all'
        AND statistics_month = #{month}
    </select>

    <insert id="insert" parameterType="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        insert into month_login_report (id, statistics_month, platform_code,
        platform_name, source_type, login_population,
        play_population, execute_time)
        values (#{id,jdbcType=BIGINT}, #{statisticsMonth,jdbcType=VARCHAR}, #{platformCode,jdbcType=VARCHAR},
        #{platformName,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT}, #{loginPopulation,jdbcType=INTEGER},
        #{playPopulation,jdbcType=INTEGER}, #{executeTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        insert into month_login_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statisticsMonth != null">
                statistics_month,
            </if>
            <if test="platformCode != null">
                platform_code,
            </if>
            <if test="platformName != null">
                platform_name,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="loginPopulation != null">
                login_population,
            </if>
            <if test="playPopulation != null">
                play_population,
            </if>
            <if test="executeTime != null">
                execute_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="statisticsMonth != null">
                #{statisticsMonth,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformName != null">
                #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="loginPopulation != null">
                #{loginPopulation,jdbcType=INTEGER},
            </if>
            <if test="playPopulation != null">
                #{playPopulation,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        update month_login_report
        <set>
            <if test="statisticsMonth != null">
                statistics_month = #{statisticsMonth,jdbcType=VARCHAR},
            </if>
            <if test="platformCode != null">
                platform_code = #{platformCode,jdbcType=VARCHAR},
            </if>
            <if test="platformName != null">
                platform_name = #{platformName,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="loginPopulation != null">
                login_population = #{loginPopulation,jdbcType=INTEGER},
            </if>
            <if test="playPopulation != null">
                play_population = #{playPopulation,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.smartdata.MonthLoginReport">
        update month_login_report
        set statistics_month = #{statisticsMonth,jdbcType=VARCHAR},
        platform_code = #{platformCode,jdbcType=VARCHAR},
        platform_name = #{platformName,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=TINYINT},
        login_population = #{loginPopulation,jdbcType=INTEGER},
        play_population = #{playPopulation,jdbcType=INTEGER},
        execute_time = #{executeTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>