<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.smartdata.MonthRechargeReportMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="statistics_month" property="statisticsMonth" jdbcType="VARCHAR"/>
        <result column="source_type" property="sourceType" jdbcType="TINYINT"/>
        <result column="recharge_population" property="rechargePopulation" jdbcType="INTEGER"/>
        <result column="recharge_amount" property="rechargeAmount" jdbcType="DECIMAL"/>
        <result column="recharge_count" property="rechargeCount" jdbcType="INTEGER"/>
        <result column="new_recharge_population" property="newRechargePopulation" jdbcType="INTEGER"/>
        <result column="old_recharge_population" property="oldRechargePopulation" jdbcType="INTEGER"/>
        <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, statistics_month, source_type, recharge_population, recharge_amount, recharge_count,
        new_recharge_population, old_recharge_population, execute_time
    </sql>
    <delete id="deleteByTimeAndSourceType">
        delete from month_recharge_report where statistics_month = #{statisticsMonth} and source_type = #{sourceType}
    </delete>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from month_recharge_report
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="searchByTime" resultType="com.hhly.smartdata.dto.mouth.MonthRechargeReportResult">
        SELECT
        <include refid="Base_Column_List"/>
        FROM month_recharge_report
        <where>
            <if test="timeStart != null and timeStart != ''">
                statistics_month &gt;= #{timeStart}
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                AND statistics_month &lt;= #{timeEnd}
            </if>
        </where>
        ORDER BY statistics_month DESC, source_type ASC
        <if test="pageNo != null">
            <bind name="offset" value="(pageNo-1) * pageSize * 4"/>
            <bind name="pageSize4" value="pageSize * 4"/>
            LIMIT #{offset}, #{pageSize4}
        </if>
    </select>

    <select id="searchByTimeCount" resultType="java.lang.Long">
        SELECT
        COUNT(id)
        FROM month_recharge_report
        <where>
            <if test="timeStart != null and timeStart != ''">
                statistics_month &gt;= #{timeStart}
            </if>
            <if test="timeEnd != null and timeEnd != ''">
                AND statistics_month &lt;= #{timeEnd}
            </if>
        </where>
    </select>
    <select id="selectByMonth" resultType="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        SELECT
        <include refid="Base_Column_List"/>
        FROM month_recharge_report
        WHERE statistics_month = #{month}
    </select>
    <insert id="insert" parameterType="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        insert into month_recharge_report (id, statistics_month, source_type,
        recharge_population, recharge_amount, recharge_count,
        new_recharge_population, old_recharge_population,
        execute_time)
        values (#{id,jdbcType=BIGINT}, #{statisticsMonth,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT},
        #{rechargePopulation,jdbcType=INTEGER}, #{rechargeAmount,jdbcType=DECIMAL}, #{rechargeCount,jdbcType=INTEGER},
        #{newRechargePopulation,jdbcType=INTEGER}, #{oldRechargePopulation,jdbcType=INTEGER},
        #{executeTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        insert into month_recharge_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="statisticsMonth != null">
                statistics_month,
            </if>
            <if test="sourceType != null">
                source_type,
            </if>
            <if test="rechargePopulation != null">
                recharge_population,
            </if>
            <if test="rechargeAmount != null">
                recharge_amount,
            </if>
            <if test="rechargeCount != null">
                recharge_count,
            </if>
            <if test="newRechargePopulation != null">
                new_recharge_population,
            </if>
            <if test="oldRechargePopulation != null">
                old_recharge_population,
            </if>
            <if test="executeTime != null">
                execute_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="statisticsMonth != null">
                #{statisticsMonth,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="rechargePopulation != null">
                #{rechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="rechargeAmount != null">
                #{rechargeAmount,jdbcType=DECIMAL},
            </if>
            <if test="rechargeCount != null">
                #{rechargeCount,jdbcType=INTEGER},
            </if>
            <if test="newRechargePopulation != null">
                #{newRechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="oldRechargePopulation != null">
                #{oldRechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        update month_recharge_report
        <set>
            <if test="statisticsMonth != null">
                statistics_month = #{statisticsMonth,jdbcType=VARCHAR},
            </if>
            <if test="sourceType != null">
                source_type = #{sourceType,jdbcType=TINYINT},
            </if>
            <if test="rechargePopulation != null">
                recharge_population = #{rechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="rechargeAmount != null">
                recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
            </if>
            <if test="rechargeCount != null">
                recharge_count = #{rechargeCount,jdbcType=INTEGER},
            </if>
            <if test="newRechargePopulation != null">
                new_recharge_population = #{newRechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="oldRechargePopulation != null">
                old_recharge_population = #{oldRechargePopulation,jdbcType=INTEGER},
            </if>
            <if test="executeTime != null">
                execute_time = #{executeTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hhly.smartdata.model.smartdata.MonthRechargeReport">
        update month_recharge_report
        set statistics_month = #{statisticsMonth,jdbcType=VARCHAR},
        source_type = #{sourceType,jdbcType=TINYINT},
        recharge_population = #{rechargePopulation,jdbcType=INTEGER},
        recharge_amount = #{rechargeAmount,jdbcType=DECIMAL},
        recharge_count = #{rechargeCount,jdbcType=INTEGER},
        new_recharge_population = #{newRechargePopulation,jdbcType=INTEGER},
        old_recharge_population = #{oldRechargePopulation,jdbcType=INTEGER},
        execute_time = #{executeTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>