<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.DailyKeepRecordReportMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.DailyKeepRecordReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="statistics_day" property="statisticsDay" jdbcType="VARCHAR" />
    <result column="source_type" property="sourceType" jdbcType="TINYINT" />
    <result column="register_count" property="registerCount" jdbcType="INTEGER" />
    <result column="one" property="one" jdbcType="INTEGER" />
    <result column="two" property="two" jdbcType="INTEGER" />
    <result column="three" property="three" jdbcType="INTEGER" />
    <result column="four" property="four" jdbcType="INTEGER" />
    <result column="five" property="five" jdbcType="INTEGER" />
    <result column="six" property="six" jdbcType="INTEGER" />
    <result column="seven" property="seven" jdbcType="INTEGER" />
    <result column="fourteen" property="fourteen" jdbcType="INTEGER" />
    <result column="thirty" property="thirty" jdbcType="INTEGER" />
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, statistics_day, source_type, register_count, one, two, three, four, five, six, 
    seven, fourteen, thirty, execute_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from daily_keep_record_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.DailyKeepRecordReport" >
    insert into daily_keep_record_report (id, statistics_day, source_type, 
      register_count, one, two, 
      three, four, five, 
      six, seven, fourteen, 
      thirty, execute_time)
    values (#{id,jdbcType=BIGINT}, #{statisticsDay,jdbcType=VARCHAR}, #{sourceType,jdbcType=TINYINT}, 
      #{registerCount,jdbcType=INTEGER}, #{one,jdbcType=INTEGER}, #{two,jdbcType=INTEGER}, 
      #{three,jdbcType=INTEGER}, #{four,jdbcType=INTEGER}, #{five,jdbcType=INTEGER}, 
      #{six,jdbcType=INTEGER}, #{seven,jdbcType=INTEGER}, #{fourteen,jdbcType=INTEGER}, 
      #{thirty,jdbcType=INTEGER}, #{executeTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.DailyKeepRecordReport" >
    insert into daily_keep_record_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statisticsDay != null" >
        statistics_day,
      </if>
      <if test="sourceType != null" >
        source_type,
      </if>
      <if test="registerCount != null" >
        register_count,
      </if>
      <if test="one != null" >
        one,
      </if>
      <if test="two != null" >
        two,
      </if>
      <if test="three != null" >
        three,
      </if>
      <if test="four != null" >
        four,
      </if>
      <if test="five != null" >
        five,
      </if>
      <if test="six != null" >
        six,
      </if>
      <if test="seven != null" >
        seven,
      </if>
      <if test="fourteen != null" >
        fourteen,
      </if>
      <if test="thirty != null" >
        thirty,
      </if>
      <if test="executeTime != null" >
        execute_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="statisticsDay != null" >
        #{statisticsDay,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="registerCount != null" >
        #{registerCount,jdbcType=INTEGER},
      </if>
      <if test="one != null" >
        #{one,jdbcType=INTEGER},
      </if>
      <if test="two != null" >
        #{two,jdbcType=INTEGER},
      </if>
      <if test="three != null" >
        #{three,jdbcType=INTEGER},
      </if>
      <if test="four != null" >
        #{four,jdbcType=INTEGER},
      </if>
      <if test="five != null" >
        #{five,jdbcType=INTEGER},
      </if>
      <if test="six != null" >
        #{six,jdbcType=INTEGER},
      </if>
      <if test="seven != null" >
        #{seven,jdbcType=INTEGER},
      </if>
      <if test="fourteen != null" >
        #{fourteen,jdbcType=INTEGER},
      </if>
      <if test="thirty != null" >
        #{thirty,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.DailyKeepRecordReport" >
    update daily_keep_record_report
    <set >
      <if test="statisticsDay != null" >
        statistics_day = #{statisticsDay,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null" >
        source_type = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="registerCount != null" >
        register_count = #{registerCount,jdbcType=INTEGER},
      </if>
      <if test="one != null" >
        one = #{one,jdbcType=INTEGER},
      </if>
      <if test="two != null" >
        two = #{two,jdbcType=INTEGER},
      </if>
      <if test="three != null" >
        three = #{three,jdbcType=INTEGER},
      </if>
      <if test="four != null" >
        four = #{four,jdbcType=INTEGER},
      </if>
      <if test="five != null" >
        five = #{five,jdbcType=INTEGER},
      </if>
      <if test="six != null" >
        six = #{six,jdbcType=INTEGER},
      </if>
      <if test="seven != null" >
        seven = #{seven,jdbcType=INTEGER},
      </if>
      <if test="fourteen != null" >
        fourteen = #{fourteen,jdbcType=INTEGER},
      </if>
      <if test="thirty != null" >
        thirty = #{thirty,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        execute_time = #{executeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.DailyKeepRecordReport" >
    update daily_keep_record_report
    set statistics_day = #{statisticsDay,jdbcType=VARCHAR},
      source_type = #{sourceType,jdbcType=TINYINT},
      register_count = #{registerCount,jdbcType=INTEGER},
      one = #{one,jdbcType=INTEGER},
      two = #{two,jdbcType=INTEGER},
      three = #{three,jdbcType=INTEGER},
      four = #{four,jdbcType=INTEGER},
      five = #{five,jdbcType=INTEGER},
      six = #{six,jdbcType=INTEGER},
      seven = #{seven,jdbcType=INTEGER},
      fourteen = #{fourteen,jdbcType=INTEGER},
      thirty = #{thirty,jdbcType=INTEGER},
      execute_time = #{executeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>