<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.IntervalGameLaunchReportMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.IntervalGameLaunchReport" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="statistics_time" property="statisticsTime" jdbcType="VARCHAR" />
    <result column="game_code" property="gameCode" jdbcType="VARCHAR" />
    <result column="game_name" property="gameName" jdbcType="VARCHAR" />
    <result column="launch_count" property="launchCount" jdbcType="INTEGER" />
    <result column="execute_time" property="executeTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, statistics_time, game_code, game_name, launch_count, execute_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from interval_game_launch_report
    where id = #{id,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.IntervalGameLaunchReport" >
    insert into interval_game_launch_report (id, statistics_time, game_code, 
      game_name, launch_count, execute_time
      )
    values (#{id,jdbcType=BIGINT}, #{statisticsTime,jdbcType=VARCHAR}, #{gameCode,jdbcType=VARCHAR}, 
      #{gameName,jdbcType=VARCHAR}, #{launchCount,jdbcType=INTEGER}, #{executeTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.IntervalGameLaunchReport" >
    insert into interval_game_launch_report
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="statisticsTime != null" >
        statistics_time,
      </if>
      <if test="gameCode != null" >
        game_code,
      </if>
      <if test="gameName != null" >
        game_name,
      </if>
      <if test="launchCount != null" >
        launch_count,
      </if>
      <if test="executeTime != null" >
        execute_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="statisticsTime != null" >
        #{statisticsTime,jdbcType=VARCHAR},
      </if>
      <if test="gameCode != null" >
        #{gameCode,jdbcType=VARCHAR},
      </if>
      <if test="gameName != null" >
        #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="launchCount != null" >
        #{launchCount,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        #{executeTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.IntervalGameLaunchReport" >
    update interval_game_launch_report
    <set >
      <if test="statisticsTime != null" >
        statistics_time = #{statisticsTime,jdbcType=VARCHAR},
      </if>
      <if test="gameCode != null" >
        game_code = #{gameCode,jdbcType=VARCHAR},
      </if>
      <if test="gameName != null" >
        game_name = #{gameName,jdbcType=VARCHAR},
      </if>
      <if test="launchCount != null" >
        launch_count = #{launchCount,jdbcType=INTEGER},
      </if>
      <if test="executeTime != null" >
        execute_time = #{executeTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.IntervalGameLaunchReport" >
    update interval_game_launch_report
    set statistics_time = #{statisticsTime,jdbcType=VARCHAR},
      game_code = #{gameCode,jdbcType=VARCHAR},
      game_name = #{gameName,jdbcType=VARCHAR},
      launch_count = #{launchCount,jdbcType=INTEGER},
      execute_time = #{executeTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>