<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.TblAdminMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.TblAdmin" >
    <id column="ID" property="id" jdbcType="DOUBLE" />
    <result column="USER_ID" property="userId" jdbcType="DOUBLE" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="DEPART_ID" property="departId" jdbcType="DOUBLE" />
    <result column="JOB_NO" property="jobNo" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, NAME, EMAIL, TEL, DEPART_ID, JOB_NO, TYPE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select 
    <include refid="Base_Column_List" />
    from tbl_admin
    where ID = #{id,jdbcType=DOUBLE}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.TblAdmin" >
    insert into tbl_admin (ID, USER_ID, NAME, 
      EMAIL, TEL, DEPART_ID, 
      JOB_NO, TYPE)
    values (#{id,jdbcType=DOUBLE}, #{userId,jdbcType=DOUBLE}, #{name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{departId,jdbcType=DOUBLE}, 
      #{jobNo,jdbcType=VARCHAR}, #{type,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.TblAdmin" >
    insert into tbl_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="departId != null" >
        DEPART_ID,
      </if>
      <if test="jobNo != null" >
        JOB_NO,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=DOUBLE},
      </if>
      <if test="jobNo != null" >
        #{jobNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.TblAdmin" >
    update tbl_admin
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        DEPART_ID = #{departId,jdbcType=DOUBLE},
      </if>
      <if test="jobNo != null" >
        JOB_NO = #{jobNo,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.TblAdmin" >
    update tbl_admin
    set USER_ID = #{userId,jdbcType=DOUBLE},
      NAME = #{name,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      DEPART_ID = #{departId,jdbcType=DOUBLE},
      JOB_NO = #{jobNo,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=DOUBLE}
  </update>
</mapper>