<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.TblMenuMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.TblMenu" >
    <id column="ID" property="id" jdbcType="DOUBLE" />
    <result column="PERMISSION" property="permission" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="DOUBLE" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="URL" property="url" jdbcType="VARCHAR" />
    <result column="MENU_INDEX" property="menuIndex" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PERMISSION, PARENT_ID, NAME, URL, MENU_INDEX, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select 
    <include refid="Base_Column_List" />
    from tbl_menu
    where ID = #{id,jdbcType=DOUBLE}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.TblMenu" >
    insert into tbl_menu (ID, PERMISSION, PARENT_ID, 
      NAME, URL, MENU_INDEX, 
      CREATE_TIME)
    values (#{id,jdbcType=DOUBLE}, #{permission,jdbcType=VARCHAR}, #{parentId,jdbcType=DOUBLE}, 
      #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{menuIndex,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.TblMenu" >
    insert into tbl_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="permission != null" >
        PERMISSION,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="url != null" >
        URL,
      </if>
      <if test="menuIndex != null" >
        MENU_INDEX,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DOUBLE},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="menuIndex != null" >
        #{menuIndex,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.TblMenu" >
    update tbl_menu
    <set >
      <if test="permission != null" >
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=DOUBLE},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="menuIndex != null" >
        MENU_INDEX = #{menuIndex,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.TblMenu" >
    update tbl_menu
    set PERMISSION = #{permission,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DOUBLE},
      NAME = #{name,jdbcType=VARCHAR},
      URL = #{url,jdbcType=VARCHAR},
      MENU_INDEX = #{menuIndex,jdbcType=DOUBLE},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DOUBLE}
  </update>
</mapper>