<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.TblPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.TblPermission" >
    <result column="PERMISSION" property="permission" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="FUNCTION_ID" property="functionId" jdbcType="DOUBLE" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.hhly.generator.model.TblPermission" >
    insert into tbl_permission (PERMISSION, NAME, FUNCTION_ID, 
      CREATE_TIME)
    values (#{permission,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{functionId,jdbcType=DOUBLE}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.TblPermission" >
    insert into tbl_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permission != null" >
        PERMISSION,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="functionId != null" >
        FUNCTION_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="functionId != null" >
        #{functionId,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>