<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.TblRolePermissionMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.TblRolePermission" >
    <id column="ID" property="id" jdbcType="DOUBLE" />
    <result column="ROLE_ID" property="roleId" jdbcType="DOUBLE" />
    <result column="PERMISSION" property="permission" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, PERMISSION
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select 
    <include refid="Base_Column_List" />
    from tbl_role_permission
    where ID = #{id,jdbcType=DOUBLE}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.TblRolePermission" >
    insert into tbl_role_permission (ID, ROLE_ID, PERMISSION
      )
    values (#{id,jdbcType=DOUBLE}, #{roleId,jdbcType=DOUBLE}, #{permission,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.TblRolePermission" >
    insert into tbl_role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="permission != null" >
        PERMISSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DOUBLE},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DOUBLE},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.TblRolePermission" >
    update tbl_role_permission
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DOUBLE},
      </if>
      <if test="permission != null" >
        PERMISSION = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.TblRolePermission" >
    update tbl_role_permission
    set ROLE_ID = #{roleId,jdbcType=DOUBLE},
      PERMISSION = #{permission,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DOUBLE}
  </update>
</mapper>