<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.generator.dao.TblUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.hhly.generator.model.TblUserRole" >
    <id column="ID" property="id" jdbcType="DOUBLE" />
    <result column="USER_ID" property="userId" jdbcType="DOUBLE" />
    <result column="ROLE_ID" property="roleId" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, ROLE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Double" >
    select 
    <include refid="Base_Column_List" />
    from tbl_user_role
    where ID = #{id,jdbcType=DOUBLE}
  </select>
  <insert id="insert" parameterType="com.hhly.generator.model.TblUserRole" >
    insert into tbl_user_role (ID, USER_ID, ROLE_ID
      )
    values (#{id,jdbcType=DOUBLE}, #{userId,jdbcType=DOUBLE}, #{roleId,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hhly.generator.model.TblUserRole" >
    insert into tbl_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DOUBLE},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=DOUBLE},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hhly.generator.model.TblUserRole" >
    update tbl_user_role
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=DOUBLE},
      </if>
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=DOUBLE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hhly.generator.model.TblUserRole" >
    update tbl_user_role
    set USER_ID = #{userId,jdbcType=DOUBLE},
      ROLE_ID = #{roleId,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=DOUBLE}
  </update>
</mapper>