<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.member.LoginTrackMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.member.LoginTrack">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_result" property="loginResult" jdbcType="INTEGER"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="os_type" property="osType" jdbcType="INTEGER"/>
        <result column="version_code" property="versionCode" jdbcType="INTEGER"/>
        <result column="version_name" property="versionName" jdbcType="VARCHAR"/>
        <result column="platformid" property="platformid" jdbcType="INTEGER"/>
        <result column="gamearea_id" property="gameareaId" jdbcType="INTEGER"/>
        <result column="service_id" property="serviceId" jdbcType="DECIMAL"/>
        <result column="login_ip_area" property="loginIpArea" jdbcType="VARCHAR"/>
        <result column="is_third" property="isThird" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, login_result, login_time, login_ip, os_type, version_code, version_name,
        platformid, gamearea_id, service_id, login_ip_area, is_third
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tbl_login_track
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectLoginUserGroupByUserAndOsType" resultType="java.util.Map">
        SELECT
        BINARY user_name AS userId,
        os_type AS sourceType
        FROM
        tbl_login_track
        where
        login_time &lt;= #{endTime}
        and
        login_time &gt;= #{startTime}
        and user_name != ''
        and os_type != ''
        group by BINARY  user_name,os_type
    </select>

    <select id="selectLoginUserGroupByUser" resultType="java.util.Map">
        SELECT
        user_name AS userId
        FROM
        tbl_login_track
        WHERE login_time &lt;= #{endTime}
        AND login_time &gt;= #{startTime}
        GROUP BY BINARY  user_name;
    </select>

    <select id="selectLoginUserPopulationByTimeGroupBySource" resultType="java.util.Map">
        SELECT
        os_type AS sourceType,
       BINARY user_name AS userId
        FROM
        tbl_login_track
        WHERE
        user_name is not null
        and user_name != ''
        and login_time &lt;= #{endTime}
        AND login_time &gt;= #{startTime}
        GROUP BY os_type, BINARY  user_name;
    </select>

    <select id="selectLoginUserGroupBySourceType" resultType="java.util.Map">
        select
        os_type as sourceType,
        BINARY user_name as userId
        from
        tbl_login_track
        where
        user_name is not null
        and user_name != ''
        and login_time &gt;= #{startTime}
        and login_time &lt; #{endTime}
        group by BINARY user_name,os_type
    </select>

    <select id="selectLoginUserPopulationByTime" resultType="java.lang.String">
        select
        user_name
        from tbl_login_track
        where
        login_time &gt;= #{startTime}
        and
        login_time &lt; #{endTime}
    </select>

</mapper>