<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.member.LoginTrackMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.member.LoginTrack">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="login_result" property="loginResult" jdbcType="INTEGER"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
        <result column="login_ip" property="loginIp" jdbcType="VARCHAR"/>
        <result column="os_type" property="osType" jdbcType="INTEGER"/>
        <result column="version_code" property="versionCode" jdbcType="INTEGER"/>
        <result column="version_name" property="versionName" jdbcType="VARCHAR"/>
        <result column="platformid" property="platformid" jdbcType="INTEGER"/>
        <result column="gamearea_id" property="gameareaId" jdbcType="INTEGER"/>
        <result column="service_id" property="serviceId" jdbcType="DECIMAL"/>
        <result column="login_ip_area" property="loginIpArea" jdbcType="VARCHAR"/>
        <result column="is_third" property="isThird" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_name, login_result, login_time, login_ip, os_type, version_code, version_name,
        platformid, gamearea_id, service_id, login_ip_area, is_third
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from tbl_login_track
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectYesterdayLoginUser" resultType="java.util.Map">
        SELECT
        user_name AS userId,
        os_type AS sourceType
        FROM
        tbl_login_track
        WHERE TO_DAYS(NOW()) - TO_DAYS(login_time) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(login_time) &gt; 0
        group by user_name,os_type
    </select>

    <select id="selectLoginUserGroupByUserAndOsType" resultType="java.util.Map">
        SELECT
        user_name AS userId,
        os_type AS sourceType
        FROM
        tbl_login_track
        login_time &lt;= #{endTime}
        login_time &gt;= #{startTime}
        group by user_name,os_type
    </select>

    <select id="selectLoginUserByStartTimeAndEndTime" resultType="java.util.Map">
        SELECT
        platformid AS platformId,
        os_type AS sourceType,
        user_name AS userId
        FROM
        tbl_login_track
        WHERE login_time &lt;= #{endTime}
        AND login_time &gt;= #{startTime}
        GROUP BY platformid, os_type, user_name;
    </select>

    <select id="selectFirstThirtyMinLoginUser" resultType="java.util.Map">
        select DISTINCT(user_name) as userId,os_type as osType from tbl_login_track where
        <![CDATA[
              login_time >= date_sub(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S'), interval #{intervalTime} minute)
  		]]>
        and
        <![CDATA[
  		      login_time <= DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S')
  		]]>
        group by os_type
    </select>

</mapper>