<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.member.RechargeRecordMapper">
    <resultMap id="BaseResultMap" type="com.hhly.smartdata.model.member.RechargeRecord">
        <id column="orderno" property="orderno" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="apply_amount" property="applyAmount" jdbcType="DECIMAL"/>
        <result column="real_lyb" property="realLyb" jdbcType="DOUBLE"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="platform_type" property="platformType" jdbcType="INTEGER"/>
        <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP"/>
        <result column="handle_time" property="handleTime" jdbcType="TIMESTAMP"/>
        <result column="platform_order" property="platformOrder" jdbcType="VARCHAR"/>
        <result column="handle_type" property="handleType" jdbcType="INTEGER"/>
        <result column="source" property="source" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="operatorid" property="operatorid" jdbcType="INTEGER"/>
        <result column="payment_orderno" property="paymentOrderno" jdbcType="VARCHAR"/>
        <result column="notify_status" property="notifyStatus" jdbcType="INTEGER"/>
        <result column="platform_source" property="platformSource" jdbcType="DECIMAL"/>
        <result column="change_type" property="changeType" jdbcType="INTEGER"/>
        <result column="plateform_id" property="plateformId" jdbcType="BIGINT"/>
        <result column="son_plateformid" property="sonPlateformid" jdbcType="BIGINT"/>
        <result column="service_id" property="serviceId" jdbcType="BIGINT"/>
        <result column="currency" property="currency" jdbcType="VARCHAR"/>
        <result column="gold" property="gold" jdbcType="DOUBLE"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        orderno, user_id, apply_amount, real_lyb, status, platform_type, apply_time, handle_time,
        platform_order, handle_type, source, remark, operatorid, payment_orderno, notify_status,
        platform_source, change_type, plateform_id, son_plateformid, service_id, currency,
        gold, country
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from tbl_recharge_record
        where orderno = #{orderno,jdbcType=VARCHAR}
    </select>

    <select id="selectByStartTimeAndEndTime" resultType="java.util.Map">
        SELECT COUNT(DISTINCT(user_id)) as userCount,
        SUM(apply_amount) as amountSum,
        COUNT(orderno) as orderCount
        FROM tbl_recharge_record
        WHERE
        status != 0
        AND pay_time &lt;= #{endTime}
        AND pay_time &gt;= #{startTime}
        GROUP BY source
    </select>

    <select id="selectYesterdayNewUser" resultType="java.util.Map">
        SELECT a.source as source,
        COUNT(DISTINCT(a.user_id)) as userCount
        FROM tbl_recharge_record a INNER JOIN tbl_user_info b ON a.user_id = b.user_id
        WHERE TO_DAYS(NOW()) - TO_DAYS(b.create_time) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(b.create_time) &gt; 0
        AND TO_DAYS(NOW()) - TO_DAYS(a.apply_time) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(a.apply_time) &gt; 0
        GROUP BY a.source;
    </select>

    <select id="selectNewUserAndRechargeByStartTimeAndEndTime" resultType="java.util.Map">
        SELECT a.source as source,
        COUNT(DISTINCT(a.user_id)) as userCount
        FROM tbl_recharge_record a INNER JOIN tbl_user_info b ON a.user_id = b.user_id
        WHERE b.create_time &lt;= #{endTime}
        AND b.create_time &gt;= #{startTime}
        AND a.apply_time &lt;= #{endTime}
        AND a.apply_time &gt;= #{startTime}
        GROUP BY a.source;
    </select>

    <select id="selectYesterdayOldUser" resultType="java.util.Map">
        SELECT a.source as source,
        COUNT(DISTINCT(a.user_id)) as userCount
        FROM tbl_recharge_record a INNER JOIN tbl_user_info b ON a.user_id = b.user_id
        WHERE TO_DAYS(NOW()) - TO_DAYS(b.create_time) &gt; 1
        AND TO_DAYS(NOW()) - TO_DAYS(apply_time) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(apply_time) &gt; 0
        GROUP BY a.source
    </select>

    <select id="selectOldUserAndRechargeByStartTimeAndEndTime" resultType="java.util.Map">
        SELECT a.source as source,
        COUNT(DISTINCT(a.user_id)) as userCount
        FROM tbl_recharge_record a INNER JOIN tbl_user_info b ON a.user_id = b.user_id
        WHERE b.create_time &lt; #{startTime}
        AND apply_time) &lt;= #{endTime}
        AND apply_time) &gt;= #{startTime}
        GROUP BY a.source
    </select>

    <select id="findRechargeRecordByTime" resultType="java.lang.Integer">
        select count(DISTINCT (orderno)) as count from tbl_recharge_record where
        status != 0
        <![CDATA[
             and apply_time>= date_sub(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S'), interval  #{intervalTime} minute)
  	    ]]>
        <![CDATA[
             and apply_time<=DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S')
        ]]>
    </select>

    <select id="selectYesterdayRechargeUser" resultType="java.util.Map">
        SELECT
        plateform_id AS platformId,
        source AS sourceType,
        user_id AS userId,
        COUNT(orderno) AS orderCount,
        SUM(apply_amount) AS applyAmountSum
        FROM
        tbl_recharge_record
        WHERE TO_DAYS(NOW()) - TO_DAYS(apply_time) &lt;= 1
        AND TO_DAYS(NOW()) - TO_DAYS(apply_time) &gt; 0
        GROUP BY plateform_id,source,user_id
    </select>

    <select id="selectFirstThirtyMinRechargeUser" resultType="java.util.Map">
        select source as osType,count(DISTINCT(user_id)) as rechargePopulation ,sum(apply_amount) as
        rechargeAmount,count(orderno) as rechargeCount from tbl_recharge_record
        where
        status != 0
        <![CDATA[
                  and pay_time>= date_sub(DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S'), interval #{intervalTime} minute)
  	     ]]>
        <![CDATA[
                 and pay_time<=DATE_FORMAT(#{endDate},'%Y-%m-%d %H:%i:%S')
         ]]>
        group by source
    </select>
</mapper>