<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhly.smartdata.mapper.authentication.AdminMapper">

    <resultMap id="AdminMap" type="com.hhly.smartdata.model.authentication.Admin">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_status" property="userStatus"/>
        <result column="user_type" property="userType"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="tel" property="tel"/>
        <result column="depart_id" property="departId"/>
        <result column="job_no" property="jobNo"/>
        <result column="type" property="type"/>
        <result column="locale" property="locale"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        user_id,
        NAME,
        email,
        tel,
        depart_id,
        job_no,
        TYPE
    </sql>

    <sql id="with_user">
        admin.id,
        admin.user_id,
        admin.NAME,
        admin.email,
        admin.tel,
        admin.depart_id,
        admin.job_no,
        admin.TYPE ,
        u.username,
        u.password,
        u.user_type,
        u.user_status,
        u.create_time,
        u.locale
    </sql>

    <select id="get" resultMap="AdminMap">
        select
        <include refid="with_user"/>
        from auth_admin admin join auth_user u on admin.user_id =
        u.user_id
        where id = #{id}
    </select>

    <select id="searchAdmins" resultMap="AdminMap">
        select
        <include refid="with_user"/>
        from auth_admin admin inner join auth_user u on admin.user_id =
        u.user_id
        <where>
            and u.user_id != -1
            <if test="filter.id !=null">
                and admin.id = #{filter.id}
            </if>
            <if test="filter.username !=null and filter.username != ''">
                and u.username like concat(concat('%',#{filter.username}),'%')
            </if>
            <if test="filter.type != null">
                and admin.type = #{filter.type}
            </if>
            <if test="filter.userStatus !=null and filter.userStatus !=''">
                and u.user_status = #{filter.userStatus}
            </if>
        </where>
        order by u.user_status asc,u.create_time desc
    </select>

    <delete id="delete">
        delete from auth_admin
        where id = #{id}
    </delete>

    <delete id="deleteByUserId">
        delete from auth_admin
        where user_id = #{userId}
    </delete>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_admin(
        user_id,
        name,
        email,
        tel,
        job_no,
        type)
        values(
        #{userId},
        #{name},
        #{email},
        #{tel},
        #{jobNo},
        #{type})
    </insert>

    <update id="update">
        update auth_admin
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="departId != null">
                depart_id = #{departId},
            </if>
            <if test="jobNo != null">
                job_no = #{jobNo},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>