<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logPrefix" value="dao."/>
    </settings>
    <typeAliases>
        <package name="com.hhly.smartdata.model.member"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/member/LoginTrackMapper.xml"/>
        <mapper resource="mapper/member/RechargeRecordMapper.xml"/>
        <mapper resource="mapper/member/UserInfoMapper.xml"/>
        <mapper resource="mapper/member/PlatformGoldConsumeRecordMapper.xml"/>
    </mappers>
</configuration>