<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logPrefix" value="dao."/>
    </settings>
    <typeAliases>
        <package name="com.hhly.smartdata.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/authentication/AdminMapper.xml"/>
        <mapper resource="mapper/authentication/FunctionMapper.xml"/>
        <mapper resource="mapper/authentication/MenuMapper.xml"/>
        <mapper resource="mapper/authentication/PermissionMapper.xml"/>
        <mapper resource="mapper/authentication/RoleMapper.xml"/>
        <mapper resource="mapper/authentication/UserMapper.xml"/>
        <!-- -->
        <mapper resource="mapper/smartdata/DailyCompositeReportMapper.xml"/>
        <mapper resource="mapper/smartdata/DailyKeepRecordReportMapper.xml"/>
        <mapper resource="mapper/smartdata/DailyLoginReportMapper.xml"/>
        <mapper resource="mapper/smartdata/DailyRechargeReportMapper.xml"/>
        <mapper resource="mapper/smartdata/DailyRegisterReportMapper.xml"/>
        <mapper resource="mapper/smartdata/IntervalGameLaunchReportMapper.xml"/>
        <mapper resource="mapper/smartdata/IntervalInterfaceReportMapper.xml"/>
        <mapper resource="mapper/smartdata/IntervalSourceReportMapper.xml"/>
        <mapper resource="mapper/smartdata/MonthCompositeReportMapper.xml"/>
        <mapper resource="mapper/smartdata/MonthLoginReportMapper.xml"/>
        <mapper resource="mapper/smartdata/MonthRechargeReportMapper.xml"/>
        <mapper resource="mapper/smartdata/MonthRegisterReportMapper.xml"/>
    </mappers>
</configuration>