<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="logPrefix" value="dao."/>
    </settings>
    <typeAliases>
        <package name="com.hhly.smartdata.model"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/authentication/AdminMapper.xml"/>
        <mapper resource="mapper/authentication/FunctionMapper.xml"/>
        <mapper resource="mapper/authentication/MenuMapper.xml"/>
        <mapper resource="mapper/authentication/PermissionMapper.xml"/>
        <mapper resource="mapper/authentication/RoleMapper.xml"/>
        <mapper resource="mapper/authentication/UserMapper.xml"/>
        <!--<mapper resource="mapper/authentication/UserChannelMapper.xml"/>-->
        <!-- -->
        <!--<mapper resource="mapper/smartdata/ChannelPlatformMapper.xml"/>-->
    </mappers>
</configuration>